<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HPM | Login</title>

    <!-- link the reset css file -->
    <link
      rel="stylesheet"
      href="../../node_modules/initialize-css/dist/initialize.min.css" />

    <link
      rel="stylesheet"
      type="text/css"
      href="../controller/pallete.css.php" />

    <link rel="stylesheet" href="../static/css/login.css" />
  </head>
  <body></body>
</html>
