.container-fluid {
    min-height: 100vh;
}

body {
    position: relative;
    background-image: url('../images/background.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: left;
    overflow: hidden;
    width: 100%;
    height: 100vh;
}

.container-fluid>.row {
    height: 85vh;
    box-shadow: 2px 2px 5px 0 var(--dark-primary);
    z-index: 99;
    border-radius: 15px;
    overflow: hidden;
}

.row .col:first-child {
    background: var(--light-primary);
    border-radius: 15px;
}

.row .col:last-child {
    background: var(--white-color);
    border-radius: 15px;
}

.row .col h5 {
    font-size: 20px;
    font-weight: 500;
    line-height: 20px;
}

.logo {
    width: 100px;
    aspect-ratio: 1/1;
    overflow: hidden;
    border-radius: 15px;
    border: none;
}

.logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    scale: 1.2;
}

.form-group {
    width: 350px;
}

.form-group label {
    font-size: 16px;
    font-weight: 400;
    color: var(--dark-primary);
}

.form-group input {
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    color: var(--dark-primary);
    border: 1px solid currentColor;
    padding: 12px 0;
}


.form-group input[type='checkbox'] {
    width: 17px;
    height: 17px;
    appearance: none;
    cursor: pointer;
}

.form-group input[type='checkbox']:checked {
    background-color: var(--light-primary);
}

.form-group .reset-pass a {
    font-size: 15px;
    font-weight: 400;
    line-height: 18px;
    color: var(--light-primary);
    text-decoration: none;
}

.btn {
    width: 350px;
    background-color: var(--light-primary);
    color: white;
    transition: all 250ms ease;
}

.btn:hover {
    background-color: var(--dark-primary);
    color: white;
}

/*the first child column */
.col .title {
    color: var(--white-color);
}

.col .desc {
    color: var(--white-color);
    font-size: 18px;
    line-height: 20px;
}

/*shapes*/
.shape {
    position: absolute;
}

.shape.circle {
    width: 500px;
    height: 500px;
    left: 90%;
    top: 0;
    transform: translate(-50%, -50%);
    background: var(--light-primary);
    border-radius: 50%;
}

.shape.circle-border {
    width: 500px;
    height: 500px;
    left: 90%;
    top: 100%;
    transform: translate(-50%, -50%);
    border: 50px solid var(--light-primary);
    border-radius: 50%;
}

.ilustration.bill {
    width: 100px;
    height: 100px;
    top: 90%;
    left: 90%;
    transform: translate(-50%, -50%) rotate(30deg);
    overflow: hidden;
}

.ilustration.bill img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.patterns {
    position: absolute;
}

.pattern1 {
    top: 80%;
    left: 10%;
    width: 100px;
    height: 100px;
    background-color: transparent;
    opacity: 0.8;
    background-image: radial-gradient(var(--white-color) 2px, transparent 2px);
    background-size: 25px 25px;
}

.pattern2 {
    top: 0%;
    left: 3%;
    width: 100px;
    height: 100px;
    background-color: transparent;
    opacity: 0.8;
    background-image: radial-gradient(var(--white-color) 1.5px, transparent 1.5px);
    background-size: 15px 15px;
}

.shape.col1-circle {
    left: 10%;
    top: -3%;
    width: 50px;
    height: 50px;
    background: var(--white-color);
    border-radius: 50%;
}